# Common
.git-old
_work/
*.*.sw*
.vimerr
vim.session
doc/
public_html/.htpasswd
public_html/media/Public/*
*.php

# Sub-modules
vendor/*
!vendor/launcher

# Build files
.build/minimize.cache
.build/packages.xml
.build/fontcache.xml
