# Common
.git-old
_work/
*.*.sw*
.vimerr
vim.session
doc/
public_html/.htpasswd
public_html/media/Public/*
*.php

# Build files
.compress
.build/minimize.cache
.build/fontcache.json
.build/packages.json
