[submodule "vendor/osjs-icon-theme"]
	path = vendor/osjs-icon-theme
	url = git@github.com:andersevenrud/osjs-icon-theme.git
[submodule "vendor/osjs-sound-theme"]
	path = vendor/osjs-sound-theme
	url = git@github.com:andersevenrud/osjs-sound-theme.git
[submodule "vendor/osjs-core-packages"]
	path = vendor/osjs-core-packages
	url = git@github.com:andersevenrud/osjs-core-packages.git
